/* Root de cores */
:root{
    --preto: #000000;
    --branco: #ffffff;
    --cinza: #e4e4e4;
    --vermelho: #ff0505;
    --laranja: #ff8c00;
    --amarelo: #ffdd00;
    --verde: #3fdf42;
    --azul: #0077ff; 
    --roxo: #9000ff;
    --rosa: #ff00bb;
}


/* Estilização geral (global) */
*{
    margin: 0 px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--cinza);
}


/* Cabeçalho */
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--vermelho);
    width: 50%;
    border-radius: 8px;
}

h1 {
    font-weight: 600;
    color: var(--branco);
}

p {
    font-size: 16px;
    color: var(--branco);
}


/* Conteudo principal */
.main__container {
    width: 50%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--branco);
}

.form__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin-bottom: 5px;
    color: var(--rosa);
}

hr{
    height: 2px;
    width: 100%;
    background-color: var(--amarelo);
    border: none;
    margin-top: 0;
}

label {
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 600;
    color: var(--roxo);
}

select {
    height: 30px;
    border-color: var(--laranja);
    color: var(--azul);
    font-weight: 500;
    outline-color: var(--verde);
    border-radius: 4px;
}

.rotas__info {
 width: 80%;
 font-size: 16px;
 background-color: var(--cinza);
}

input {
    height: 30px;
    border-color: var(--verde);
    color: var(--azul);
    font-weight: 500;
    outline-color: var(--laranja);
    border-radius: 4px;
}

.form__calcular {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    background-color: var(--azul);
    border: none;
    border-radius: 4px;
    color: var(--branco);
    font-weight: 600;
    font-size: 16px;
}

.form__limpar {
    margin-top: 10px;
    width: 30%;
    height: 30px;
    background-color: var(--rosa);
    border: none;
    border-radius: 4px;
    color: var(--branco);
    font-weight: 600;
    font-size: 16px;
}


/* Responsividade - Celular */
@media screen and (max-width: 480px){
    .header__container{
        display: flex;
        width: 100%;
        height: 100%;

        
    }
}

/* Responsividade - Tablet */
@media screen and (max-width: 768px){

}
