@import url(colors.css);

/* Estilização geral (global) */
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: var(--page-bg);
    background-image: var(--glitter);
}


/* Cabeçalho */
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--header-bg);
    width: 50%;
    border-radius: 8px;
    color: var(--text-header);
}

.header__themes-list
{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid var(--text-header);
}

.header__themes-list button
{
    padding: 5px 45px;
    border-radius: 10px;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.light-theme-btn
{
    background-color: #fff;
    color: #000;
}

.dark-theme-btn
{
    background-color: #000;
    color: #fff;
}

.lgbt-theme-btn
{
    background: linear-gradient(#FF3B30, #FF9500, #FFCC00, #34C759, #007AFF, #AF52DE);
    color: #000;
}

h1 {
    font-weight: 600;
}

p {
    font-size: 16px;
}


/* Conteudo principal */
.main__container {
    width: 50%;
    height: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--content-bg);
}

.form__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    background: var(--contrast-color);
    color: var(--title-color);
}

hr{
    height: 5px;
    width: 100%;
    background: var(--contrast-color);
    background-size: 300% 300%;
    animation: alternate infinite 5s wave;
    border: none;
    margin-top: 0;
}

@keyframes wave 
{
    0% {
        background-position: 0;
    }

    0% {
        background-position: 100%;
    }
}

label {
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 600;
    color: var(--default-text);
}

select {
    height: 30px;
    font-weight: 500;
    border-radius: 4px;
}

.rotas__info {
 width: 80%;
 font-size: 16px;
 background-color: var(--cinza);
}

input {
    height: 30px;
    font-weight: 500;
}

.form__buttons-group
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form__calcular {
    flex: 1;
    width: 30%;
    height: 30px;
    background: var(--calcular-btn-bg);
    border: none;
    border-radius: 4px;
    color: var(--text-calcular-btn);
    font-weight: 600;
    font-size: 16px;
    box-shadow: var(--calcular-btn-glow);
    cursor: pointer;
}

.form__limpar {
    flex: 1;
    width: 30%;
    height: 30px;
    background: var(--limpar-btn-bg);
    border: none;
    border-radius: 4px;
    color: var(--text-limpar-btn);
    font-weight: 600;
    font-size: 16px;
    box-shadow: var(--limpar-btn-glow);
    cursor: pointer;
}

.resultados__container {
    padding: 20px;
}

.resultados__elementos {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.resultados__caixa {
    height: 120px;
    width: 190px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;   
}

span {
    font-weight: 600;
}

.footer__container {
    margin-top: 20px;
    color: var(--subtext);
}



/* Responsividade - Celular */
@media screen and (max-width: 480px){
    .header__container{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .main__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .form__container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    h1{
        font-size: 26px;
    }

    p{
        font-size: 14px;
        text-align: center;
    }

    h2{
        font-size: 22px;
    }

    hr{
        margin-bottom: 10px;
    }

    .resultados__elementos{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .resultados__caixa{
        width: 100%;
        height: auto;
    }


}

/* Responsividade - Tablet */
@media screen and (min-width: 480px) and (max-width: 768px){
    .header__container{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .main__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .form__container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    h1{
        font-size: 32px;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
    h2{
        font-size: 24px;
    }
    hr{
        margin-bottom: 10px;
    }
    .resultados__elementos{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .resultados__caixa{
        width: 100%;
        height: auto;
    }
}
